<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <Link href="~/Content/Site.css" type="text/css" rel="Stylesheet" />
</head>
<body>
    <div>
        <div id="header">
            @{ Html.RenderAction("Summary", "Cart"); }
            <div class="title">SPORTS STORE</div>
        </div>
        <div id="categories">
            @{ Html.RenderAction("Menu", "Nav"); }
        </div>
        <div id="content">
            @RenderBody()
        </div>
    </div>
</body>
</html>
